// 全局css样式变量

$bgColorMenu: #1d1d27;
$duration: .7s;

// 夜晚效果
// $bgColor: linear-gradient(165deg, black 30%, darkblue 200%);
// $bgColorNav: rgb(26, 26, 26);
// $titleColor: white;
// $navColor: red;

// 白天
$bgColor: linear-gradient(165deg, rgb(240, 240, 240) 30%, rgb(255, 255, 255) 200%);
$bgColorNav: rgb(197, 197, 197);
$titleColor: #000;
$navColor: red;