.star {
  width: 100%;
  height: 100%;
  position: relative;
  background: $bgColor;

  .star-item {
    position: absolute;
    display: block;
    color: rgba(2, 213, 255, .5);
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid rgba(2, 213, 255, .5);
    border-left: 10px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    opacity: 0;
    animation: staring 10s infinite ease-in-out;

    &:before {
      border-bottom: 8px solid rgba(2, 213, 255, .5);
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -4.5px;
      left: -6.5px;
      display: block;
      content: '';
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);

    }

    &:after {
      position: absolute;
      display: block;
      color: rgba(2, 213, 255, .5);
      top: 0.3px;
      left: -10.5px;
      width: 0px;
      height: 0px;
      border-right: 10px solid transparent;
      border-bottom: 7px solid rgba(2, 213, 255, .5);
      border-left: 10px solid transparent;
      -webkit-transform: rotate(-70deg);
      -moz-transform: rotate(-70deg);
      -ms-transform: rotate(-70deg);
      -o-transform: rotate(-70deg);
      content: '';
    }
  }
}

@keyframes staring {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}