.inforCard-content {
  width: 100%;
  height: 100%;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    // top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-title {
      margin-top: 5%;
      width: 80%;
      height: 10%;
    }
  }
}