.titleH2 {
  position: absolute;
  top: -4.1rem;
  left: 1%;
  font-size: 2.5rem;
  --b: 6px;
  --w: 60vw;
  --g: 15px;
  --c: #0B486B;
  width: fit-content;
  padding: 0 3em;
  line-height: 1em;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0, conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin-inline: auto;
  z-index: 99;

}

.border {
  // width: .5rem;
  // height: 100vh;
  background-color: #0B486B;
  position: absolute;
}

.box-01 {
  width: .5rem;
  height: 15%;
  transition: all 2s cubic-bezier(.67, .13, .1, .81);
}

.box-02 {
  width: 15%;
  height: .5rem;
  transition: all 2s cubic-bezier(.67, .13, .1, .81);
}

.box-03 {
  width: .5rem;
  height: 15%;
  right: 0;
  bottom: 0;
  transition: all 2s cubic-bezier(.67, .13, .1, .81);
}

.box-04 {
  width: 15%;
  height: .5rem;
  bottom: 0;
  right: 0;
  transition: all 2s cubic-bezier(.67, .13, .1, .81);
}